/* 全局样式 */
*{margin: 0;padding: 0;}
a{color:inherit;text-decoration: none;-webkit-tap-highlight-color:transparent;width: 100%;height: inherit;display: block;}
li{list-style: none;}
html{font-size: 100%;}
img{border: 0;display: block;}

/* 通用样式 */
body{background-color: var(--bg-main);}
.container{width:100%;height: auto;}
.nav{width: 100%;height: auto;background-color: var(--bg-secondly);margin-bottom: 4.75rem;}
.nav-wrap{width: 70rem;height: 5rem;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;color: var(--color-secondly);}
.nav-mobile-search{display: none;}
.nav-menu{width: 18%;display: flex;justify-content: space-between;}
.nav-menu>div{position: relative;}
.nav-level-item>div{display: flex;justify-content: space-between;flex-wrap: nowrap;border: 1px solid var(--bg-less);padding: 0.5rem 1rem;margin: 0.5rem 0;align-items: center;width: 4rem;font-size: 0.875rem;}
.nav-level-item>div>div:first-child{width: 1.5rem;height: 1.5rem;border-radius: 50%;overflow: hidden;}
.nav-level-item>div>div:first-child img{width: 100%;height: 100%;}
.nav-level-item>div>div:last-child{width:2rem;}
.nav-level{position: absolute;width: 18rem;height: auto;background-color: var(--bg-secondly);top: 1.2rem;left: 0;z-index: 99;display: flex;justify-content: space-between;align-items: center;padding: 2rem;visibility: hidden;z-index: -1;opacity: 0;}
.nav-level-line{width: 1px;height: 5rem;background-color: var(--bg-less);}
.nav-level-rec{font-size: 0.75rem;line-height: 1.5rem;}
.nav-level-rec li{margin: 0 0 0 0.8rem;}
/* 二级菜单动画 */
 @keyframes nav-level{ 
		0%{display: none;opacity: 0;visibility: hidden;z-index: -1;top: 0rem;}
		50%{opacity: 0.5;visibility: visible;z-index: 99;top: 1rem;}
		100%{opacity: 1;visibility: visible;z-index: 99;top: 1.2rem;}
	}
.nav-menu>div:hover .nav-level{animation:nav-level 0.3s ease forwards;}
.nav-menu>div>a:hover{color: var(--color-focus);}
.nav-function{display: flex;justify-content: space-between;width: 18%;}
.nav-function div{display: flex;align-items: center;cursor: pointer;}
.nav-function>div:first-child{background-color: var(--bg-less);font-size: 0.875rem;padding: 0.5rem;border-radius: 100rem;}
.current-menu{color: var(--color-focus);position: relative;}
.current-menu::before{position: absolute;content: '';width: 100%;height: 3px;bottom: -2rem;left: 0;background-color: var(--bg-focus);}
/* 更多 */
.nav-function>div:last-child{position: relative;}
.nav-more{position: absolute;right: 0;background-color: var(--bg-secondly);bottom: -20rem;width: 13.625rem;padding: 1rem 2rem;opacity: 0;visibility: hidden;z-index: -1;height: auto;}
.nav-more::before{width: 0;height: 0;border-bottom: 8px solid var(--bg-secondly);border-right: 8px solid transparent;border-left: 8px solid transparent;content: '';top: -0.5rem;position: absolute;right: 1rem;}
.nav-more li{margin: 1.5rem 0;width: 100%;height: auto;}
.nav-more li a{display: flex;flex-wrap: nowrap;justify-content: space-between;}
.switch{width: 3.4rem;height: 1.5rem;border: 1px solid #00BAAD;border-radius: 10rem;position: relative;}
.switch div{position: absolute;width: 1rem;height: 1rem;border-radius: 100%;background-color: #E5E5E5;left: 0.3rem;}
.nav-more>div{width: 100%;height: 1px;background-color: var(--bg-less);}
/* 二级菜单动画 */
 @keyframes nav-more{ 
		0%{display: none;opacity: 0;visibility: hidden;z-index: -1;bottom: -15rem;}
		50%{opacity: 1;visibility: visible;z-index: 99;bottom: -24rem;}
		100%{opacity: 1;visibility: visible;z-index: 99;bottom: -20rem;}
	}
 @keyframes nav-more-close{ 
		from{opacity: 1;visibility: visible;z-index: 1;bottom: -20rem;}
		to{display: none;opacity: 0;visibility: hidden;z-index: -1;bottom: -15rem;}
	}
/* 内容 */
.content{width: 70rem;height: auto;margin: 0 auto;}
/* 顶部 */
.content-menu{display: flex;flex-wrap: nowrap;justify-content: space-between;}
.content-menu:hover{color: var(--color-main);}
.content-menu ul{display: flex;flex-wrap: nowrap;}
.content-menu-item li{width: 4rem;text-align: center;line-height: 2.1rem;border-radius: 3px;color: #fff;margin-right: 1rem;}
.content-menu-item li:not(.current-menu-item){background-color: var(--bg-less);}
.current-menu-item{background-color: var(--bg-focus);}
.content-menu-item li:hover{background-color: var(--bg-focus);}
.content-menu-sort{align-items: center;}
.content-menu-sort li{margin-left: 1rem;color: var(--color-main);display: flex;align-items: center;}
.content-menu-sort li:not(.current-menu-sort){color: var(--color-secondly);}
.current-menu-sort{color: var(--color-main);}
.content-menu-sort li:hover{color: var(--color-main);}
/* 列表 */
.content-lists-wrap{width: 100%;height: auto;display: flex;flex-wrap: wrap;justify-content: space-between;}
.content-lists-wrap li{width: 32%;margin-top: 3rem;}
.content-lists-wrap>li>a>div:first-child{height: 537px;overflow: hidden;background-color: var(--bg-secondly);position: relative;z-index: 1;}
/* 制作高斯模糊层 */
.content-lists-wrap>li>a>div:first-child::before{height: 100%;width: 100%;backdrop-filter: blur(30px);content: '';position: absolute;z-index: -1;}
.content-lists-wrap>li>a>div:first-child{display: flex;justify-content: center;align-items: center;}
.content-lists-wrap li img{width: 100%;}
.content-lists-tit{color: var(--color-secondly);font-size: 0.875rem;padding: 1rem 0 0 0;display: flex;flex-wrap: nowrap;justify-content: space-between;}
.content-lists-tit div:first-child{width: 72%;}
.content-lists-tit div:last-child{display: flex;align-items: center;justify-content: space-between;width: 28%;}
.content-lists-wrap>i{width: 65px;margin-right: -0.7rem;}
/* 翻页 */
.pages{width: auto;max-width: 55%;display: flex;flex-wrap: wrap;margin: 4rem auto;color: #fff;}
.pages a{width: inherit;height: inherit;display: block;padding: 0.5rem 1rem;}
.pages li{width: auto;margin: 0 auto;display: flex;justify-content: center;align-items: center;margin: 0.5rem auto;}
.pages li:not(.current-pages){background-color: var(--bg-less);}
.current-pages{background-color: var(--bg-focus);}
/* 底部 */
.footer{width: 100%;height: auto;background-color: var(--bg-secondly);color: var(--color-secondly);margin-top: 8rem;}
.footer>div{margin: 0 auto;width: 70rem;height: auto;padding: 1rem 0;}
.footer>div>div{width: 100%;text-align: center;}
.footer>div>div>div{cursor: pointer;}
.footer>div>div:first-child{display: flex;flex-wrap: nowrap;justify-content: center;}
.footer>div>div:first-child p{margin-top: 1rem;}
.footer>div>div:first-child div{margin: 3rem;}
.group-line{width: 100%;height: 1px;background-color: var(--bg-less);margin-bottom: 2rem;}
/* 遮罩 */
.mask{width: 100%;height: 200%;background-color: rgba(0, 0, 0, 0.6);position: fixed;top: 0;left: 0;display: none;z-index: 99;}
.search-wrap{position: absolute;display: none;border-bottom: 1px solid #fff;z-index: 99;}
/* 搜索 */
.search-wrap input[name="search"]{background-color: rgba(0, 0, 0, 0);width: 50rem;height: 5rem;border: 0px;outline: none;background-color: ;font-size: 1.625rem;color: var(--color-secondly);}
.search-wrap input[name="search-sub"]{background-color: rgba(0, 0, 0, 0);width: 5rem;height: 5rem;border: 0px;outline: none;color: var(--color-main);font-size: 1.625rem;cursor: pointer;}
.search-wrap label{position: absolute;font-size: 2rem;top: 1rem;color: var(--color-secondly);}
/* 分享 */
.share-window{width: 40rem;height: auto;background-color: var(--bg-secondly);position: fixed;display: none;z-index: 99;}
.share-window div:first-child{display: flex;align-items: center;}
.share-window div:first-child svg{margin: 1px 0.5rem 0 0;}
/* 分享动画 */
 @keyframes share{ 
		0%{transform: scale(1);}
		50%{transform: scale(1.3);}
		100%{transform: scale(1);}
	}
 @keyframes share-close{
		0%{transform: scale(1);}
		50%{transform: scale(1.3);}
		100%{transform: scale(0);}
	}
.share-window div{color: var(--color-main);}
.share-window>div:first-child{line-height: 5rem;padding: 0 1rem;border-bottom: 1px solid var(--bg-less);}
.share-window>div:nth-child(2){width: 100%;padding: 2rem 1rem;}
.share-window>div:last-child{display: flex;flex-wrap: nowrap;justify-content: space-between;}
.share-window>div:last-child div{display: flex;flex-wrap: nowrap;justify-content: center;align-items: center;line-height: 5rem;width: 50%;border-top: 1px solid var(--bg-less);cursor: pointer;}
.share-window>div:last-child div:first-child{color: var(--color-secondly);}
/* 二维码 */
.qr-code{position: fixed;width: 20rem;height: 20rem;z-index: 99;display: none;padding: 0;background-color: var(--bg-secondly);}
.qr-code img{position: fixed;width: inherit;height: inherit;}
/* 声明 */
.statement{width: 28rem;height: auto;position: fixed;z-index: 99;background-color: var(--bg-secondly);padding: 2rem;display: none;}
.statement div:first-child{color: var(--color-main);text-align: center;margin: 0 0 1.5rem 0;font-size: 1.75rem;}
.statement div p{margin-bottom: 1rem;font-size: 0.875rem;}
.statement div:last-child{color: #fff;text-align: center;line-height:3rem;background-color: var(--bg-focus);margin: 2rem 0 0 0;cursor: pointer;}
.statement-cont{color: var(--color-secondly);}

/* 图片详情页 */
.work-details-wrap{width: auto;height: auto;margin: 0 0 2rem 0;display: flex;justify-content: ;flex-wrap: wrap;align-items: flex-start;}
.work-details-img{width: 60%;background-color: var(--bg-secondly);display: flex;justify-content: center;padding: 2%;}
.work-details-img img{max-width: 100%;}
.work-details-con{width: 30%;margin-left: 2%;background-color: var(--bg-secondly);padding: 2%;}
.work-details-con p{margin: 1rem 0;}
.work-details-tit{font-size: 1.5rem;color: var(--color-main);line-height: 2.5rem;}
.work-details-statement{color: var(--color-secondly);line-height: 2rem;}
/* 全屏看图 */
.full-screen-img{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;position: absolute;height: 100%;top: 0;max-width:70rem;display: none;overflow-y: scroll;overflow-x: hidden;}
.full-screen-img img{height: auto;max-width: 100%;margin: 5rem auto 5rem auto;position: relative;z-index: 99;}
.full-screen-img::-webkit-scrollbar{/*隐藏滚轮*/display: none;}
.full-screen-img-tit{width: 100%;height: auto;color: var(--color-main);background-color: var(--bg-main);position: fixed;top: 0;z-index: 999;display: none;}
.full-screen-img-tit ul{width: 92%;height: 5rem;color: var(--color-main);line-height: 5rem;display: flex;align-items: center;margin: 0 auto;}
.full-screen-back{width: auto;height: auto;display: flex;align-items: center;margin-right: 0.5rem;}
/* 移动端搜索 */
.search-mobile-wrap{width: 78%;height: 100%;position: absolute;top: 0;left: 0;background-color: var(--bg-secondly);padding: 5%;transform: translateX(-100%);transition: all 0.3s ease;z-index: 999;display: none;}
.search-mobile{width: 100%;height: auto;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.search-mobile div:first-child{display: flex;justify-content: flex-start;width: 100%;margin: 0 0 1rem 0;}
.search-mobile div:last-child{position: relative;width: 100%;}
.search-mobile input[name="search-mobile-txt"]{width: auto;height: 2.8rem;display: flex;flex-wrap: nowrap;justify-content: space-between;width: 80%;outline: 0;border: 1px solid var(--bg-main);padding: 0 15% 0 5%;border-radius: 0.2rem;}
.search-mobile input[name="search-mobile-btn"]{position: absolute;top: 0;right: 0;width: 2.8rem;height: 2.8rem;outline:none;border: 0;border-radius: 0 0.2rem 0.2rem 0;background-color: rgba(0, 0, 0, 0);}
/* 记录 */
.mobile-record{margin-top: 2rem;font-size: 0.875rem;color: var(--color-secondly);}
.mobile-record p{margin: 0 0 0.5rem 0.5rem;}
.mobile-record p:first-child{margin: 0 0 0.5rem 0;}
/* 推送 */
.mobile-search-news{margin-top: 2rem;font-size: 0.875rem;color: var(--color-secondly);}
.mobile-search-news div{margin: 0 0 0.5rem 0;}
.mobile-search-news li{margin: 0 0 0.5rem 0.5rem;}

/* 文章页 */
.article-wrap{width: 100%;height: auto;display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;}
.article-lists{width: 64%;height: auto;}
.article-lists-menu{color: var(--color-secondly);width: 96%;height: 3.125rem;background-color: var(--bg-secondly);display: flex;justify-content: space-between;align-items: center;padding: 0 2%;margin-bottom: 2rem;}
.article-lists-menu li span{margin-left: 0.5rem;display: flex;align-items: center;}
.article-lists-menu li{display: flex;align-items: center;line-height: 1rem;position: relative;}
.article-focus{color: var(--color-main);}
/* 右侧 */
.article-list-right{width: 34%;height: auto;}
.article-list-right ul{margin: 0 0 1rem 0;}
.weather{width: auto;color: var(--color-main);padding: 1rem 2rem;background-color: var(--bg-secondly);}
.weather li p{margin: 0.5rem 0;}
.weather li p:first-child{margin-top: 0;}
.weather span:first-child{display: flex;justify-content: flex-end;}
.weather-line{margin : 1rem 0;}
.week{font-size: 1.5rem;}
.temperature{font-size:  1.5rem;margin-top: 1rem;}
.article-label{background-color: var(--bg-secondly);padding: 1rem 2rem;color: var(--color-main);display: flex;justify-content: space-between;flex-wrap: wrap;}
.article-label div{display: flex;justify-content: space-between;width: 100%;}
.article-label div span{display: flex;align-items: center;}
.article-label li{display: flex;justify-content: center;width: 3.75rem;height: 1.375rem;border-radius: 10rem;flex-wrap: wrap;align-items: center;font-size: 0.875rem;margin-top: 1rem;}
.article-label-ps{background: linear-gradient(219.64deg, rgba(43, 120, 252, 1) 0%, rgba(5, 88, 255, 1) 100%);}
.article-label-ai{background: linear-gradient(219.64deg, rgba(235, 168, 68, 1) 0%, rgba(255, 122, 5, 1) 100%);}
.article-label-php{background: linear-gradient(219.64deg, rgba(0, 94, 255, 1) 0%, rgba(0, 189, 252, 1) 100%);}
.article-label-other{background: linear-gradient(219.64deg, rgba(68, 235, 124, 1) 0%, rgba(0, 186, 19, 1) 100%);}
/* 列表 */
.article-lists-cont{width: 100%;}
.article-lists-cont li{width: 100%;height: 12.5rem;background-color: var(--bg-secondly);margin-top: 1rem;position: relative;overflow: hidden;}
.article-lists-cont li img{width: 100%;height: 100%;}
.article-lists-tit{position: absolute;top: 0;width: inherit;height: inherit;background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.article-lists-tit div{width: 100%;height: auto;text-align: center;}
.article-lists-tit div p:first-child{font-size: 1.2rem;color: #fff;}
.article-lists-tit div p:last-child{font-size: 1.2rem;color: var(--color-secondly);margin-top: 1.2rem;}
.article-lists-time{position: absolute;right: 2rem;bottom: 1rem;color: var(--color-secondly);display: flex;align-items: center;line-height: 1rem;flex-wrap: nowrap;}
.article-lists-time span{display: flex;align-items: center;}

/* 超小屏幕（手机，小于 768px）*/
@media(max-width:767px){
	.nav{margin-bottom: 2.375rem;}
	.nav-wrap{width: 92%;}
	.nav-level{display: none;}
	.nav-mobile-search{display: flex;}
	.nav-function{justify-content: flex-end;width: auto;}
	.nav-function>div:first-child,.nav-function>div:nth-child(2){display: none;}
	.nav-menu{width: 48%;}
	.current-menu::before{display: none;}
	/* 内容 */
	.content{width: 92%;}
	.content-menu{margin-bottom: 1rem;}
	.content-menu-item li{background-color: transparent;width: auto;position: relative;margin-right: 1.5rem;color: var(--color-main);}
	.content-menu-item li:not(.current-menu-item){background-color: transparent;color: var(--color-secondly);}
	.current-menu-item::before{content: '';width: 100%;height: 3px;background-color: var(--bg-focus);bottom: -0.5rem;left: 0;position: absolute;}
	/* 列表 */
	.work-details-nav{margin-bottom: 1rem;}
	.content-lists-wrap li{width: 48%;margin-top: 1.5rem;}
	.content-lists-wrap>li>a>div:first-child{height: 373px;overflow: hidden;} /*初始258px*/
	.content-lists-tit div:first-child{width:100%;text-align: center;}
	.content-lists-tit div:last-child{display: none;}
	/* 翻页 */
	.pages{width: auto;max-width: 85%;font-size:0.875rem;}
	.pages a{padding: 0.3rem 0.8rem;}
	/* 底部 */
	.footer{margin-top: 0;}
	.footer>div{width: 92%;font-size: 0.875rem;}
	.footer>div>div:first-child div{margin: 3rem 1rem;}
	.footer>div>div:first-child div svg{width: 25px;height: 25px;}
	.group-line{width: 100%;height: 1px;background-color: var(--bg-less);margin-bottom: 1rem;}
	/* 搜索 */
	.search-wrap{width: 92%;}
	.search-wrap input[name="search"]{background-color: rgba(0, 0, 0, 0);width: 100%;height: 5rem;border: 0px;outline: none;background-color: ;font-size: 1.625rem;color: var(--color-secondly);}
	/* 分享 */
	.share-window{width: 92%;height: auto;background-color: var(--bg-secondly);position: fixed;display: none;z-index: 99;}
	/* 二维码 */
	.qr-code{width: 15rem;height: 15rem;}
	/* 声明 */
	.statement{width: 84%;padding: 6% 4% 4% 4%;}
	.statement div:first-child{font-size: 1.2rem;}
	.statement div p{font-size: 0.75rem;}
	/* 全屏看图 */
	.full-screen-img{background-color: var(--bg-main);width:100%;}
	.full-screen-img-tit{display: block;}
	/* 移动端搜索 */
	.search-mobile-wrap{display: block;}
	
	/* 图片详情页 */
	.work-details-img{width: 96%;}
	.work-details-con{width: 96%;margin: 1rem 0 0 0;}
	.work-details-tit{font-size: 1.2rem;line-height: 2.2rem;}
	.work-details-statement{font-size: 0.875rem;}
	
	/* 文章页 */
	.article-focus-line::before{content: '';width: 100%;height: 3px;background-color: var(--bg-focus);bottom: -1rem;left: 0;position: absolute;}
	.article-lists-menu{background-color: transparent;padding: 0;width: 100%;margin-bottom: 2rem;height: auto;}
	.article-lists{width: 100%;}
	.article-list-right{width: 100%;margin-top: 1rem;}
}