:root{
	/* 背景 */
	--bg-main:#171514;
	--bg-secondly:#232222;
	--bg-less:#373737;
	--bg-focus:#4e54e9;
	
	/* 字体色 */
	--color-main:#ffffff;
	--color-secondly:#A6A6A6;
	--color-focus:#4e54e9;
	
	/* 边框 */
	--boder:#373737;
}